@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("./assests/grassland-bg.png");
    background-size: 100% 100vh;
    background-repeat: no-repeat;
}

.flex{
    display: flex;
}

/*-------settings button-------*/
#logout{
    width: 35px;
    height: 40px;
    padding:7px 10px 7px 0; 
    margin-left: 9px;
    cursor: pointer;
}

#volume{
    width: 50px;
    height: 40px;
    padding:7px 10px 7px 0; 
    cursor: pointer;
}


#mute{
    width: 50px;
    height: 40px ;
    padding:7px 10px 7px 0; 
    position: absolute;
    top: 40px;
    display: none;
    cursor: pointer;
}

.circleBorder{
    border:1px solid white;
    background-color: white;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    margin: 40px 30px 20px 0;
    opacity: 0.9;
}

.settings{
   justify-content:flex-end ;
}

/*-----score and time------*/
.scoreBoard{
  width: 100%;
  justify-content: center;
  margin: 12px 0 0 120px;
}

.scoreBoard>h3{
 font-size: 40px;
 font-family: 'Jua', sans-serif;
 color: #5D3A1E;
 font-weight: 400;
 padding: 30px 40px 0 40px;
}


#moleAttack{
    position: absolute;
    top: 50%;
    width: 100%;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(4,250px);
    grid-template-rows: repeat(3,80px);
    align-items: center;
    justify-content: center;
}
.hole{
    background-image: url("./assests/mud.png");
    background-size: 100% ;
    background-repeat: no-repeat;
    width: 230px;
    height: 100px;
}

.hole>img{
    position: relative;
    left: 26%;
    top: -50%;
    width: 130px;
    height: 100px;
}

.element{
    cursor: pointer;
}

/*------- pop up box ---> modes----- */
#pop-up{
    position: absolute;
    top: 0;
    background: rgba( 255, 255, 255, 0.2 );
    backdrop-filter: blur( 6px );
    width: 100%;
    height: 100%;
}

#gameMode{
    position: absolute;
    top: 22%;
    left: 32%;
    box-shadow: 9px 13px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    background-image: url("./assests/board2.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 542px;
    height: 444px;
    text-align: center;
    font-family: 'Jua', sans-serif;
}

#gameMode>h3{
    color: white;
    font-size: 36px;
    margin-top: 5%;
}

.column{
    flex-direction: column;
}

button{
    width: 150px;
    height: 50px;
    font-size: 30px;
    font-family: 'Jua', sans-serif;
    border-radius: 10px;
    border: 1px solid #fff;
    margin: 11% auto 0 auto;
    cursor: pointer;
}

button:hover{
    width: 160px;
    height: 60px;
    margin: 10% auto 0 auto;
    background-color: transparent;
    border: 4px solid white;
    color: white;
}

@media all and (max-width:480px) {
    
    /*-------settings button-------*/
    #logout{
        width: 20px;
        height: 28px;
        padding:7px 10px 7px 0; 
        margin-left: 5px;
        margin-top: -5px;
    }
    
    #volume{
        width: 30px;
        height: 30px;
        padding:7px 10px 7px 0; 
        position: absolute;
        top: 40px;
        /* display: none; */
    }
    
    #mute{
        width: 30px;
        height: 30px ;
        padding:7px 10px 7px 0; 
        position: absolute;
        top: 40px;
    }
    
    .circleBorder{
        width: 20px;
        height: 20px;
        margin: 45px 10px 20px 0;
        opacity: 0.9;
    }
    
    /*-----score and time------*/

    .colum{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* margin-top: 35px; */
        /* display: none; */
    }
    
    .scoreBoard{
        height: 100px;
        padding-top: 90px;
        margin-left:35px;
    }

    .scoreBoard>h3{
     font-size: 22px;
     padding: 0;
     margin: 10px auto;
    }
    
    /* hole grid  */
    #moleAttack{
        position: absolute;
        top: 380px;
        display: grid;
        grid-template-columns: repeat(3,90px);
        grid-template-rows: repeat(4,50px);
    }

    .hole{
        width: 90px;
        height: 90px;
    }
    
    .hole>img{
        position: relative;
        left: 30px;
        top: -28%;
        width: 35px;
        height: 45px;
    }
    
    
    /*------- pop up box ---> modes----- */
    
    #pop-up{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #gameMode{
        top: auto;
        bottom: auto ;
        left: auto;
        right: auto;
        width: 280px;
        height:300px;
    }
    
    #gameMode>h3{
        font-size: 27px;
        margin-bottom: 10px;
    }

    button{
        width: 120px;
        height: 40px;
        font-size: 24px;
        margin: auto;
    }
    
}

@media all  and (min-width:375px) and (max-width:425px){

    .scoreBoard{
        padding-top: 105px;
    }

    .scoreBoard>h3{
        font-size: 26px;
       }

    /* hole grid  */
    #moleAttack{
        position: absolute;
        top: 380px;
        display: grid;
        grid-template-columns: repeat(3,100px);
        grid-template-rows: repeat(4,50px);
    }

    .hole{
        width: 100px;
        height: 110px;
    }

    .hole>img{
        position: relative;
        left: 35px;
        top: -28%;
        width: 45px;
        height: 55px;
    }
}

@media all  and (min-width:425px ) and (max-width:480px){
    .scoreBoard{
        padding-top: 105px;
    }

    .scoreBoard>h3{
        font-size: 28px;
       }

    /* hole grid  */
    #moleAttack{
        position: absolute;
        top: 350px;
        display: grid;
        grid-template-columns: repeat(3,120px);
        grid-template-rows: repeat(4,60px);
    }

    .hole{
        width: 120px;
        height: 100px;
    }

    .hole>img{
        position: relative;
        left: 26%;
        top: -40%;
        width: 55px;
        height: 65px;
    }
}

@media all and (min-width:480px) and (max-width:768px) {
        /*-------settings button-------*/
        #logout{
            width: 30px;
            height: 35px;
            margin-left: 8px;
            margin-top: 0;
        }
        
        #volume{
            width: 40px;
            height: 40px;
            position: absolute;
            top: 38px;
            margin-left: 3px;
        }
        
        #mute{
            width: 40px;
            height: 40px ; 
            position: absolute;
            top: 38px;
            margin-left: 3px;
        }
        
        .circleBorder{
            width: 35px;
            height: 35px;
            margin: 40px 20px 20px 0;
        }
        
        /*-----score and time------*/
    
        .scoreBoard{
            width: 100%;
            margin: 12px 0 0 90px;
          }
          
          .scoreBoard>h3{
           font-size: 30px;
           padding: 30px 20px 0 20px;
          }
        
        /* hole grid  */
        #moleAttack{
            position: absolute;
            top: 380px;
            display: grid;
            grid-template-columns: repeat(4,150px);
            grid-template-rows: repeat(3,60px);
        }
    
        .hole{
            width: 150px;
            height: 150px;
        }
    
        .hole>img{
            position: relative;
            left: 26%;
            top: -40%;
            width: 85px;
            height: 75px;
        }
        
        
        /*------- pop up box ---> modes----- */
        
        #pop-up{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        #gameMode{
            top: auto;
            bottom: auto ;
            left: auto;
            right: auto;
            width: 350px;
            height:300px;
        }
        
        #gameMode>h3{
            font-size: 27px;
            margin-bottom: 10px;
        }
    
        button{
            width: 120px;
            height: 40px;
            font-size: 24px;
            margin: auto;
        }
}


