@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./assests/brownBlack-bg.png);
    background-size: 100% 100vh;
    background-repeat:no-repeat;
    font-family: 'Jua', sans-serif;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center                     ;
}

/*------ Game over text and bomb image------*/
.overText{
    width: 100%;
    height: 200px;
    margin-top:5% ;
}

h1{
    font-size: 96px;
    color: #fff;
    margin-left: 50px;
    text-shadow: 11px 9px 4px rgba(0, 0, 0, 0.25);
}

#bomb{
    width: 90px;
    height: 90px;
    margin: 115% 0 0 3%;
}


/*--------- scoreboard--------- */
#scoreboard{
    border: 5px solid #fff;
    width: 530px;
    height: 180px;
    border-radius: 10px;
    margin: 62px auto 0 auto;
    backdrop-filter: blur(100);
    background-color: rgba(224, 153, 71, 0.27);
    box-shadow: rgba(0, 0, 0, 0.438) 7px 10px 7px;
    text-align: center;
    color: white;
    padding: 27px 0 39px 0;
}

/* score  */
h4 {
    font-size:36px ;
    padding-bottom: 10px;
}

/* win or lose text  */
p{
    font-size: 30px;
}

#player{
    font-size: 32px;
    font-family: 'Kavoon', serif;
    -webkit-text-stroke: 0.5px white;
    color: rgba(197, 83, 83, 0.735);
}

/* --------buttons------- */
.block-display{
    display: block;
}

#playAgainBtn{
    border-radius: 40px;
    border: 2px solid #FFF;
    background: #fff;
    box-shadow: 5px 8px 4px 0px rgba(0, 0, 0, 0.25);
    color: black;
    width: 180px;
    height: 45px;
    font-size: 20px;
    font-family: 'Kavoon', serif;
    margin: 3% auto 0 auto;
    cursor:pointer;
}

#changeBtn{
    border-radius: 40px;
    border: 2px solid #FFF;
    background: #fff;
    box-shadow: 5px 8px 4px 0px rgba(0, 0, 0, 0.25);
    color: black;
    width: 180px;
    height: 45px;
    font-size: 20px;
    font-family: 'Kavoon', serif;
    margin: 1% auto 0 auto;
    cursor: pointer;
}

#playAgainBtn:hover , #changeBtn:hover{
    background-color:transparent;
    color: white;
    border: 4px solid white;
    backdrop-filter: blur(800);
    height: 55px;
    width: 190px;
}

/* -------mole------- */
#mole{
    width: 390px;
    height: 370px;
    position: absolute;
    top: 48%;
    left: 67%;
}


@media all and (max-width:480px){
  
/*------ Game over text and bomb image------*/
.overText{
    margin-top:70px ;
    text-align: center;
}

h1{
    font-size: 60px;
}

#bomb{
    width: 60px;
    height: 60px;
    margin: 60px 0 0 3%;
}


/*--------- scoreboard--------- */
#scoreboard{
    width: 300px;
    height: 170px;
    margin: 30px auto 0 auto;
    text-align: center;
    color: white;
    padding: 27px 0 39px 0;

}

/* score  */
h4 {
    font-size:30px ;
    padding-bottom: 5px;
}

/* win or lose text  */
p{
    font-size: 24px;
}

#player{
    font-size: 25px;
}
/* --------buttons------- */

#playAgainBtn{
    width: 150px;
    height: 40px;
    font-size: 18px;
    margin: 50px auto 0 auto;

}

#changeBtn{
    width: 150px;
    height: 40px;
    font-size: 18px;
    margin: 10px auto 0 auto;
    /* display: none; */

}

/* -------mole------- */
#mole{
   display: none;
}

}

/* tablet */

@media all and (min-width:480px) and (max-width:768px){
    /*------ Game over text and bomb image------*/
.overText{
    margin-top:70px ;
    text-align: center;
}

h1{
    font-size: 80px;
}

#bomb{
    width: 70px;
    height: 70px;
    margin: 80px 0 0 3%;

}


/*--------- scoreboard--------- */
#scoreboard{
    width: 400px;
    height: 160px;
    margin: 30px auto 0 auto;
    text-align: center;
    color: white;
    padding: 27px 0 39px 0;
    /* display: none; */

}

/* score  */
h4 {
    font-size:30px ;
    padding-bottom: 10px;
}

/* win or lose text  */
p{
    font-size: 24px;
}

#player{
    font-size: 26px;
}

/* --------buttons------- */

#playAgainBtn{
    width: 150px;
    height: 40px;
    font-size: 18px;
    margin: 50px auto 0 auto;
    /* display: none; */

}

#changeBtn{
    width: 150px;
    height: 40px;
    font-size: 18px;
    margin: 10px auto 0 auto;
    /* display: none; */

}

/* -------mole------- */
#mole{
    width: 240px;
    height: 250px;
    position: absolute;
    top: 390px;
    right: 0;
}
}
