@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("./assests/ground-bg.png");
    background-size: 100% 100vh ;
    background-repeat: no-repeat;
    font-family: 'Jua', sans-serif;
}

/* background image  */
#boardBg{
    background-image: url("./assests/board1.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 1100px;
    height: 580px;
    margin: 4% 0 0 12%;
    color: #fff;
}

/* instructions text  */
h1{
    text-align: center;
    padding: 5% 0 0 5%;
    font-size: 48px;
}

/* intsructions points */
#instructions{
text-align: left;
font-size: 26px;
width: 650px;
margin: 3% 0 0 23%;
}

/* mole image  */
#mole{
    position: absolute;
    top: 53% ;
    right: 0;
    height: 350px;
    width: 500px;
}

/* button  */
#continueBtn{
    margin-left: 44%;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 30px;
    width: 180px;
    height: 45px;
    font-size: 28px;
    font-weight: bold;
    font-family: 'Jua', sans-serif;
    box-shadow: 5px 8px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

/* media query */
/* mobile  */
@media all and (max-width:480px){

/* background image  */
#boardBg{
    background-image: url("./assests/board2.png");
    width: 300px; 
    height: 230px;  
    margin: 200px auto 0 auto;
}

/* instructions text  */
h1{
    font-size: 20px;
    padding: 10px 0 2px 0;
}

/* intsructions points */
#instructions{
text-align: normal;
font-size: 12px;
width:  290px;
margin: 10px 0 0 10px;
}

/* mole image  */
#mole{
    position: absolute;
    top: 500px;
    right: 0;
    height: 150px;
    width: 200px;
    /* display: none;    */
}

#btn{
    display: flex;
    justify-content: center;
}
/* button  */
#continueBtn{
    margin-left: 0%;
    width: 100px;
    height: 35px;
    font-size: 18px;
}
}

/* tablet  */
@media all and (min-width:480px) and (max-width:768px){

    /* background image  */
    #boardBg{
        width: 700px;  
        height: 350px;
        margin: 140px auto 0 auto;
    }
    
    /* instructions text  */
    h1{
        font-size: 35px;
        padding: 30px 0 5px 0;
    }
    
    /* intsructions points */
    #instructions{
    font-size: 17px;
    width:  450px;
    margin: 10px 0 0 140px;
    }
    
    /* mole image  */
    #mole{
        position: absolute;
        top: 400px;
        right: 0;
        height: 250px;
        width: 250px;
    }
    
    /* button  */
    #continueBtn{
        margin: 20px 0 0 0;
        width: 130px;
        height: 45px;
        font-size: 20px;
    }
    #btn{
        display: flex;
        justify-content: center;
    }
    }